@import 'templates.scss';
@font-face {
    font-family: "Inter-Bold";
    font-style: normal;
    src: url('../../public/fonts/Inter-Bold.ttf');
}

.claims_section{
    padding: 56px 56px 56px 152px;

    .claims_section_top{
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        h1{
            font-family: "Inter-Bold";
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            margin: 0;
        }
        .create_claim_button{
            padding-right: 16px;
            font-family: "Inter-Bold";
            padding: 8px 16px 8px 44px;
            background-color: $slogan_main;
            border: none;
            border-radius: 16px;
            font-weight: 700;
            font-size: 18px;
            line-height: 32px;
            text-align: right;
            letter-spacing: 0.2px;
            color: #fff;
            position: relative;
            transition: all 0.1s ease;
            cursor: pointer;
            &:hover{
                background-color: #5B9479;
            }
            &:active{
                background-color: #4F896C;
            }
            img{
                height: 40px;
                width: 40px;
                position: absolute;
                left: 6px;
                top: 4px;
            }
        }
    }

    .claims_table{
        width: 100%;
        text-align: left;
        border-spacing: 0;
        margin-bottom: 48px;
        thead{
            background-color: #F1F1F1;
            height: 56px;
            color: #2D3436;
            th{
                height: inherit;
                font-family: Inter;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                &:first-child{
                    padding-left: 24px;
                }
            }
        }
        .standart_row{
            height: 48px;
            transition: all 0.1s ease;
            &:hover{
                background-color: #E1F3EA;
            }
            td{
                border-top: 1px solid #C2C2C2;
                height: inherit;
            }
        }
        .status{
            font-family: "Inter-Bold";
            font-size: 12px;
            letter-spacing: 2.5px;
            text-transform: uppercase;
            width: 124px;
            height: 32px;
            border-radius: 16px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .declined{
            background-color: $declined;
        }
        .new{
            background-color: $new;
        }
        .progress{
            background-color: $in_progress;
        }
        .done{
            background-color: $done;
        }
        .type_td{
            display: flex;
            align-items: center;
            .type_circle{
                height: 16px;
                width: 16px;
                border-radius: 50%;
                margin-right: 16px;
            }
            .hardware{
                background-color: $hardware;
            }
            .networking{
                background-color: $networking;
            }
            .software{
                background-color: $software;
            }
            .troubleshooting{
                background-color: $troubleshooting;
            }
        }
    }

    .table_menu{
        display: flex;
        position: absolute;
        right: 56px;
        button{
            width: 32px;
            height: 32px;
            border: 1px solid #D9D9D9;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            cursor: pointer;
            margin-right: 8px;
            &:hover{
                color: #7DB59A;
                border: 1px solid #7DB59A;
            }
            &:active{
                color: #4F896C;
                border: 1px solid #4F896C;
            }
        }
        .points{
            color: rgba(0, 0, 0, 0.25);
            margin-right: 8px;
        }
        .to_right{
            img{
                transform: rotate(180deg);
            }
        }
    }
}

@media screen and (max-width: $laptop){
    .claims_section{
        padding: 34px 34px 34px 130px;
        .claims_section_top{
            margin-bottom: 36px;
            h1{
                font-size: 24px;
            }
        }
        .claims_table{
            thead{
                height: 50px;
            }
            .standart_row{
                height: 40px;
            }
            .status{
                height: 28px;
            }
        }
    }
}

.claims_mobile_section{
    padding: 34px 16px 16px 16px;
    .claims_mobile_section_top{
        margin-bottom: 30px;
        height: 48px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        h1{
            font-family: "Inter-Bold";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 44px;
            margin: 0;
        }
        .create_claim_button{
            height: 48px;
            width: 48px;
            font-family: "Inter-Bold";
            background-color: $slogan_main;
            border: none;
            border-radius: 16px;
            font-size: 16px;
            color: #fff;
            transition: all 0.1s ease;
            cursor: pointer;
            &:hover{
                background-color: #5B9479;
            }
            &:active{
                background-color: #4F896C;
            }
        }
    }
    .table_menu{
        width: 200px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        background-color: $slogan_main;
        border-radius: 10px;
        height: 50px;
        color: #fff;
        padding: 10px;
        .to_right{
            transform: rotate(180deg);
        }
    }
    .claim_mobile{
        width: 100%;
        border-radius: 16px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        margin-bottom: 24px;

        button{
            text-align: center;
            width: 84px;
            height: 52px;
            background-color: #fff;
            border: 1px solid #ADADAD;
            border-radius: 16px;   
            font-family: 'Inter-Bold';
            font-size: 18px; 
            color: #858585;
            &:hover{
                color: #7DB59A;
                border: 1px solid #7DB59A;
            }
            &:active{
                color: #4F896C;
                border: 1px solid #4F896C;
            }
        }
        .claim_top{
            height: 32px;
            background-color: $slogan_main;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: "Inter-Bold";
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            color: #fff;
        }
        .claim_bottom{
            padding: 24px 16px;
            .claim_desc{
                display: flex;
                height: 24px;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 16px;
                .mobile_bold{
                    font-family: "Inter-Bold";
                    font-size: 16px;
                }
                .mobile_thin{
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    height: inherit;
                }
                .type_circle{
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    margin-right: 8px;
                }
                .hardware{
                    background-color: $hardware;
                }
                .networking{
                    background-color: $networking;
                }
                .software{
                    background-color: $software;
                }
                .troubleshooting{
                    background-color: $troubleshooting;
                }
                .status{
                    font-family: "Inter-Bold";
                    font-size: 8px;
                    letter-spacing: 2.5px;
                    text-transform: uppercase;
                    width: 93px;
                    height: 24px;
                    border-radius: 16px;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .declined{
                    background-color: $declined;
                }
                .new{
                    background-color: $new;
                }
                .progress{
                    background-color: $in_progress;
                }
                .done{
                    background-color: $done;
                }
            }
        }
    }
}