@font-face {
    font-family: "Inter-Bold";
    font-style: normal;
    src: url('../../public/fonts/Inter-Bold.ttf');
}
@import 'templates.scss';
$footer_height: 96px;

.enter_section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 96px);
    .img_enter{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D3EDE1;
        img{
            width: 73%;
        }
    }
    .login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .login_logo{
            margin-bottom: 96px;
            width: 17%;
            img{
                width: 100%;
            }
        }
        a{
            text-decoration: none;
            color: #2F80ED;
        }
        p{
            margin: 0;
            font-size: 14px;
        }
        form{
            width: 48%;
            p{
                font-family: 'Inter-Bold';
                text-transform: uppercase;
                margin: 0px;
                padding: 0;
                margin-bottom: 8px;
                color: #ADADAD;
                letter-spacing: 2.5px;
                font-weight: 800;
                font-size: 12px;
                line-height: 15px;
            }
            display: flex;
            flex-direction: column;
            input:not([class]){
                color: $slogan_black;
                width: 100%;
                height: 48px;
                border: none;
                background-color: #F0F0F0;
                border-radius: 16px;
                padding: 0 16px;
                margin: 0;
                margin-bottom: 32px;
                font-size: 18px;
                line-height: 22px;
                &::placeholder{
                    color: $slogan_black;
                }
                &:last-child{
                    color: #fff;
                    margin-top: 35px;
                    margin-bottom: 16px;
                    background-color: $slogan_main;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 36px;
                    font-family: 'Inter-Bold';
                    cursor: pointer;
                    transition: all 0.1s ease;
                    &:hover{
                        background-color: #5B9479;
                    }
                    &:active{
                        background-color: #4F896C;
                    }
                }
                &:focus{
                    outline: none;
                }
            }
            #password{
                background-image: url(../../public/img/icon-lock.svg);
                background-repeat: no-repeat;
                background-position: top 4px right 4px;
                background-size: 40px;
                margin-bottom: 27px;
            }
            #email{
                background-image: url(../../public/img/icon-mail.svg);
                background-repeat: no-repeat;
                background-position: top 4px right 4px;
                background-size: 40px;
            }
            .check_box{
                height: 18px;
                display: flex;
                align-items: center;
                #check_box{
                    margin-right: 11px;
                    height: 18px;
                    width: 18px;
                    border: 2px solid #000;
                    background-color: #5C5C5C;
                }
            }
        }
    }
}

.enter_footer{
    height: $footer_height;
    background-color: $slogan_main;
    display: flex;
    align-items: center;
    padding: 0 30px;
    img{
        height: 60px;
    }
    position: absolute;
    bottom: 0;
    width: 100%;
}
.header{
    display: none;
}
.navigation_wrapper{
    display: none; 
}


@media screen and (max-width: $laptop){
    .enter_section{
        height: calc(100vh - 64px);
        .login{
            .login_logo{
                margin-bottom: 72px;
            }
            form{
                input:not([class]){
                    font-size: 16px;
                    margin-bottom: 24px;
                    &:last-child{
                        margin-top: 24px;
                        font-size: 16px;
                    }
                }
                #password{
                    margin-bottom: 19px;
                }
                .check_box{
                    font-size: 12px;
                }
            }
            
        }
    }
    .enter_footer{
        height: 64px;
        img{
            height: 40px;
        }
    }
}

@media screen and (max-width: 970px){
    .enter_section{
        .login{
            form{
                width: 60%;
                #email, #password{
                    background-size: 25px;
                    background-position: top 12px right 12px;
                }
            }
        }
    }
}
@media screen and (max-width: $tablet){
    .enter_section {
        grid-template-columns: unset;
        .img_enter{
            display: none;
        }
        .login{
            .login_logo{
                width: 26%;
            }
            form{
                width: 90%;
            }
        }
    }
}   