@import 'templates.scss';
@font-face {
    font-family: "Inter-Bold";
    font-style: normal;
    src: url('../../public/fonts/Inter-Bold.ttf');
}

.create_new_claim_section{
    padding: 56px 56px 56px 152px;
    h1{
        font-family: "Inter-Bold";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        margin: 0;
        margin-bottom: 48px;
    }
    form:not([class]){
        width: 35%;
        p{
            font-family: "Inter-Bold";
            font-style: normal;
            font-weight: 800;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 2.5px;
            text-transform: uppercase;
            color: #ADADAD;
            margin: 0;
            padding: 0;
            margin-bottom: 8px;
        }
        input,select{
            width: 100%;
            margin-bottom: 40px;
            height: 48px;
            border: none;
            background-color: rgba(194, 194, 194, 0.24);
            border-radius: 16px;
            padding: 0 16px;
            font-size: 18px;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color: $slogan_black;
                font-weight: 400;
                font-size: 18px;
            }
        }
        select{
            background-image: url(../../public/img/Vector.svg);
            background-repeat: no-repeat;
            background-position: top 21px right 21px;
            background-size: 12px;
            color: #000;
        }
        .form_buttons{
            display: flex;
            input{
                border-radius: 16px;
            }
            .new_cancel_but{
                font-family: "Inter-Bold";
                height: 48px;
                width: 82px;
                border: 1px solid #ADADAD;
                border-radius: 16px;
                background-color: #fff;
                font-weight: 700;
                font-size: 18px;
                line-height: 36px;
                color: #858585;
                cursor: pointer;
                margin-right: 24px;
                transition: all 0.1s ease;
                &:hover{
                    border: 1px solid #7DB59A;
                    color: #7DB59A;
                }
                &:active{
                    border: 1px solid #4F896C;
                    color: #4F896C;
                }
            }
            .create_but{
                padding: 0;
                margin: 0;
                background-color: #7DB59A;
                color: #fff;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                font-size: 18px;
                line-height: 36px;
                border-radius: 16px !important;
                border: none;
                font-family: "Inter-Bold";
                height: 48px;
                width: 82px;
                cursor: pointer;
                transition: all 0.1s ease;
                &:hover{
                    background-color: #5B9479;
                }
                &:active{
                    background-color: #4F896C;
                }
            }
        }
    }
}

.form_buttons_incoming{
    display: flex;
    .new_cancel_but{
        margin-right: 24px;
        font-family: "Inter-Bold";
        height: 48px;
        width: 82px;
        border: 1px solid #ADADAD;
        border-radius: 16px;
        background-color: #fff;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        color: #858585;
        cursor: pointer;
        transition: all 0.1s ease;
        &:hover{
            border: 1px solid #7DB59A;
            color: #7DB59A;
        }
        &:active{
            border: 1px solid #4F896C;
            color: #4F896C;
        }
    }
    .incoming_form{
        display: flex;
        input{
            border: none;
            background-color: #E84393;
            color: #fff;
            font-weight: 700;
            font-size: 18px;
            line-height: 36px;
            font-family: "Inter-Bold";
            width: 82px;
            padding: 0;
            cursor: pointer;
            transition: all 0.1s ease;
            border-radius: 16px;
            &:hover{
                background-color: #B03671;
            }
            &:active{
                background-color: #832552;
            }
            &:first-child{
                margin-right: 24px;
                background-color: #7DB59A;
                &:hover{
                    background-color: #5B9479;
                }
                &:active{
                    background-color: #4F896C;
                }
            }
        }
    }
}

.incoming{
    form:not([class]){
        input,select{
            cursor: pointer;
            &::placeholder{
                color: #ADADAD;
            }
        }
    }
}

@media screen and (max-width: $laptop){
    .create_new_claim_section{
        padding: 36px 36px 36px 132px;
        h1{
            font-size: 24px;
        }
        form:not([class]){
            width: 50%;
            input,select{
                font-size: 16px;
                &::placeholder{
                    font-size: 16px;
                }
            }
        }
    }
}
@media screen and (max-width: $tablet){
    .create_new_claim_section{
        padding: 36px;
        form:not([class]){
            width: 70%;
        }
    }

}
@media screen and (max-width: $tabletMini){
    .create_new_claim_section{
        padding: 24px 16px;
        form:not([class]){
            width: 100%;
        }
    }
}
