.GitTest{
    display: flex;
    flex-direction: column-reverse;
    a{
        color: #234134;
        text-decoration: none;
        transition: all 0.1s ease;
        font-size: 100px;
        &:hover{
            color: #987231;
        }
    }
}