/*Main colors*/

$slogan_black: #2D3436;
$slogan_main: #7DB59A;

/*Type colors*/
$hardware: #7DB59A;
$software: #FF7675;
$troubleshooting: #6C5CE7;
$networking: #FDCB6E;

/*Status colors*/
$declined: #E84393;
$new: #6C5CE7;
$in_progress: #FDCB6E;
$done: #00B894;

/*Breakpoints*/
$laptop: 1600px;
$tablet: 820px;
$tabletMini: 620px;
$phone: 430px;
